		<!--footer area start-->
		<div class="footer_area">
      <div class="container">
          <div class="footer_top">
              <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="single_footer">
                          <h4>store information</h4>

                          <ul>
                              <li><i class="fa fa-home"></i> PO Box 16122 Collins Street West Victoria 8007 Australia</li>
                              <li><i class="fa fa-phone"></i> (+1)866-550-3669</li>
                              <li><a href="#"><i class="fa fa-envelope-square"></i> demo@posthemes.com</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="single_footer">
                          <h4>Information</h4>
                          <ul>
                              <li><a href="#"><i class="fa fa-circle"></i> Our Blog</a></li>
                              <li><a href="#"><i class="fa fa-circle"></i> About Our Shop</a></li>
                              <li><a href="#"><i class="fa fa-circle"></i> Secure Shopping</a></li>
                              <li><a href="#"><i class="fa fa-circle"></i> Delivery infomation</a></li>
                              <li><a href="#"><i class="fa fa-circle"></i> Store Locations</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="single_footer">
                          <h4>My account</h4>
                          <ul>
                              <li><a href="#"><i class="fa fa-circle"></i> My orders</a></li>
                              <li><a href="#"><i class="fa fa-circle"></i> About Us</a></li>
                              <li><a href="#"><i class="fa fa-circle"></i> Contact</a></li>
                              <li><a href="#"><i class="fa fa-circle"></i> Shopping cart</a></li>
                              <li><a href="#"><i class="fa fa-circle"></i> Checkout</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="single_footer">
                          <h4>instagram</h4>
                          <div class="instagram_img">
                              <div class="single_instagram_img">
                                  <a href="#"><img src="assets/img/instagram/instagram1.jpg" alt=""></a>
                              </div>
                              <div class="single_instagram_img">
                                  <a href="#"><img src="assets/img/instagram/instagram2.jpg" alt=""></a>
                              </div>
                              <div class="single_instagram_img">
                                  <a href="#"><img src="assets/img/instagram/instagram3.jpg" alt=""></a>
                              </div>
                              <div class="single_instagram_img">
                                  <a href="#"><img src="assets/img/instagram/instagram4.jpg" alt=""></a>
                              </div>
                              <div class="single_instagram_img">
                                  <a href="#"><img src="assets/img/instagram/instagram5.jpg" alt=""></a>
                              </div>
                              <div class="single_instagram_img">
                                  <a href="#"><img src="assets/img/instagram/instagram6.jpg" alt=""></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <div class="footer_tags">
                          <a href="#" title="More about Accessories"> Accessories </a>
                          <a href="#" title="More about Furnitured & Decor"> Furnitured & Decor  </a>
                          <a href="#" title="More about Electronics">  Electronics   </a>
                          <a href="#" title=" sale ">  sale   </a>
                          <a href="#" title=" Digital Cameras"> Digital Cameras </a>
                          <a href="#" title=" Most Populars ">  Most Populars  </a>
                          <a href="#" title=" Clothing"> Clothing  </a>
                          <a href="#" title=" New Arrivals"> New Arrivals  </a>
                          <a href="#" title=" Laptop"> Laptop  </a>
                          <a href="#" title=" Sport & Outdoor"> Sport & Outdoor  </a>
                          <a href="#" title=" Health & Beauty"> Health & Beauty  </a>
                          <a href="#" title=" Toys & Hobbies"> Toys & Hobbies   </a>
                          <a href="#" title=" Fashion ">  Fashion   </a>
                          <a href="#" title=" watch">   watch    </a>
                          <a href="#" title=" Gaming Desktops ">   Gaming Desktops  </a>
                          <a href="#" title=" Special Products ">   Special Products   </a>
                          <a href="#" title="More about T shirts "> T shirts   </a>
                          <a href="#" title="Online Shopping"> Online Shopping   </a>
                          <a href="#" title=" Computer ">  Computer   </a>
                          <a href="#" title=" Books & Office ">  Books & Office   </a>
                      </div>
              </div>
          </div>

          <div class="copyright_area">
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="widget_copyright">
                          <p>copyright &copy; 2018 <a href="#">Lionshop</a>. all right reserved</p>
                      </div>
                  </div>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="payment">
                          <a href="#"><img src="assets/img/visha/payment.png" alt=""></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--footer area end-->
