<div class="shipping_area shipping_two mb-40">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4">
              <div class="single_shipping single_sp_two">
                  <div class="shippin_icone icone_two">
                      <i class="fa fa-truck"></i>
                  </div>
                  <div class="shipping_content sp_c_two">
                      <h3>Free shipping on orders over $100</h3>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-4">
              <div class="single_shipping single_sp_two">
                  <div class="shippin_icone icone_two">
                      <i class="fa fa-history"></i>
                  </div>
                  <div class="shipping_content sp_c_two">
                      <h3>30-day returns money back guarantee</h3>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-4">
              <div class="single_shipping single_sp_two box3">
                  <div class="shippin_icone icone_two">
                      <i class="fa fa-headphones"></i>
                  </div>
                  <div class="shipping_content sp_c_two">
                      <h3>24/7 online support consultations</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
