<div class="header_top top_two">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="top_left_sidebar left_sidebar_two">
                  <div class="contact_link link_two">
                      <span>Call us toll free : <strong>(+1)866-540-3229</strong></span>
                  </div>
                  <div class="switcher switcher_two">
                      <ul>
                          <li class="currency"><a href="#">Currency : <strong>USD </strong><i class="fa fa-angle-down"></i></a>
                              <ul class="dropdown_currency">
                                  <li class="select"><a href="#" title="Dollar (USD)">Dollar (USD)</a></li>
                                  <li><a href="#" title="Euro (EUR)"> Euro (EUR) </a></li>
                              </ul>
                          </li>
                          <li class="languages"><a href="#"><img src="assets/img/logo/lion.jpg" alt=""> English <i class="fa fa-angle-down"></i></a>
                              <ul class="dropdown_languages">
                                  <li class="select"><img src="assets/img/logo/lion.jpg" alt=""> English</li>
                                  <li><a href="#" title="اللغة العربية (Arabic)"><img src="assets/img/logo/lion1.jpg" alt=""> اللغة العربية </a></li>
                              </ul>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="header_right_info right_info_two text-right">
                  <ul>
                      <li class="my_account"><a href="my-account.html"><i class="fa fa-user" aria-hidden="true"></i> My account</a></li>
                      <li class="my_wishlist"><a href="wishlist.html"><i class="fa fa-heart-o" aria-hidden="true"></i>My wishlist</a></li>
                      <li class="link_checkout"><a href="checkout.html"><i class="fa fa-check" aria-hidden="true"></i> checkout </a></li>
                      <li class="log_in"><a href="login.html"><i class="fa fa-lock" aria-hidden="true"></i> Log in  </a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
